# Ignore Maven/Java build output
/backend-java/target/
**/target/

# Python virtual envs
.venv/
env/

# Pycache
**/__pycache__/
*.py[cod]

# OS files
.DS_Store
Thumbs.db

# IDE/project files
backend-java/.classpath
backend-java/.project
backend-java/.vscode/
